@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  position: relative;
}

.sidebar {
  width: 35%;
  height: 100%;

  top: 0;
  left: 0;

  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.sidebar > div {
  width: 100%;
  height: 100%;

  color: #fff;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar h1 {
  margin-bottom: 10px;
  margin-top: -30px;

  font-size: 40px;
}

.main-slide {
  width: 65%;
  height: 100%;
  
  top: 0;
  left: 35%;
  
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.main-slide > div {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

button {
  padding: 15px;

  font-size: 16px;
  color: #aaa;
  
  cursor: pointer;
  border: none;
  background-color: #fff;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  top: 50%;
  left: 35%;

  z-index: 100;
  position: absolute;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
